
h1 {
	background-color: #FFF7AA;
	text-align: center;
	border: 3px solid rgba(85,77,0,0.9);
	color: darkpurple;
	background-image: url(pictures/macritchie.jpg);
	background-size: cover;
}

h2 {
	color: darkred;
}
p {
	color: black;
	cursor: pointer;
	font-size: 120%;
}